# General Packages
pillow==10.2.0
python-dotenv==1.0.0

# LLM
openai==1.7.0

# UI
streamlit==1.30.0
streamlit-webrtc==0.47.1

# Image Processing
opencv-python==4.9.0.80
scikit-image==0.22.0
ffmpeg-downloader==0.3.0